@font-face{
    font-family: "decorativa";
    src: url(../fonts/DancingScript-Regular.ttf);
}


@font-face{
    font-family: "padrao";
    src: url(../fonts/Montserrat-Regular.ttf);
}



body {
    margin: 0;
   
}

#header {
    background-color: #BFDBF7;
    
    padding: 5px;

    * {
        display: inline;
    }


    img {
        vertical-align: middle;
        padding: 10px 0px 10px 10px;

    }


    h1 {
        font-size: 200%;
        padding: 10px 10px;
        color: #053C5E;
        vertical-align: middle;
        font-family: "decorativa";
        margin-left: 10px;
    }
}


#formularioSelect {
   
    //border: 1px solid #1F7A8C;
    box-shadow: 2px 2px 2px #1F7A8C;
    margin: 10px;
    border-radius: 5px;
    padding: 20px 10px;
    margin-top: 10px;

  
    

    label,
    input,select {
        display: block;
        font-family: "padrao";
    }

    label{
        font-size: 120%;
        padding: 2px;
        font-family: "padrao";
        font-weight: bold;
        
    }

    select{
        height: 25px;
        width: 200px;
        font-size: 100%;
        border-radius: 5px;
        border: 1px solid #aaa;
        padding-left: 5px;
        margin-bottom: 5px;
        margin-top: 5px;
       
    }

    input{
        
        width: 100px;
        font-size: 100%;
        /*Daqui para baixo e opcional*/
        border-radius: 5px;
        border: 1px solid #aaa;
        padding-left: 5px;
        margin-top: 5px;

        &[type=number]{
            height: 20px;
            margin-bottom: 10px;
        }

        &[type=submit]{
            border-radius: 5px;
            padding: 10px 10px;
            border: 1px solid #aaa;
            background-color: #1F7A8C;
            color: white;
            border: none;
            font-weight: bold;
            
        }


    }

    


}


#formularioLista{
    box-shadow: 2px 2px 2px #1F7A8C;
    margin: 10px;
    border-radius: 5px;
    padding: 20px 10px;
    margin-top: 30px;

    label,
    input {
        display: block;
        font-family: "padrao";
    }

    label{
        font-size: 120%;
        padding: 2px;
        font-family: "padrao";
        font-weight: bold;
    }

    input{
        height: 25px;
        width: 250px;
        font-size: 100%;
        /*Daqui para baixo e opcional*/
        border-radius: 5px;
        border: 1px solid #aaa;
        padding-left: 5px;
        margin-top: 5px;
    }

    img{
        margin-top: 40px;
        
    }

   

}